# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
# =========================
# Build / Output folders
# =========================
out/
dist/
exports/
# =========================
# Java compiled files
# =========================
*.class
# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
xml/
out/